@font-face {
  font-family: "npfont";
  src: url("./NationalPark-Heavy.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "npfontthin";
  src: url("./NationalPark-Thin.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "npfontregular";
  src: url("./NationalPark-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  color: rgb(15, 63, 39);
}

.card-text {
  font-family: "npfontregular"
}

.fas {
  color: rgb(75, 56, 48);
}

.spotify, .byeFoot, #putItIn, #searchButton, #takeMeHome {
  display: none;
}

#startMeUp {
  max-width: 450px;
  max-height: 550px;
  cursor: pointer;
}

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #ffffff;
  background: #ffffff;
  border-bottom: 4px solid rgb(75, 56, 48);
  opacity: 0.8;
}

.spotify  {
  padding-bottom: 10px;
  margin: 20px;
  border-bottom: 4px solid rgb(75, 56, 48);
}

.typeState {
  margin: 20px;
}

#searchBar {
  display: none;
}
.main-container {
  padding: 20px;
  margin: 20px;
  margin-bottom: 130px;
  background-color: whitesmoke;
  opacity: 0.9;
  text-align: center;
  border: 4px solid rgb(15, 63, 39);
}

#bg {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  max-width: 100%;
  /* max-height: 100%; */
}

body {
  font-family: "npfont";
  
}

.cardsGoHere {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardsGoHere .card {
  max-width: 22%;
  margin-bottom: 3rem;
}

.card {
  border: 2px solid rgb(15, 63, 39);
  border-radius: 10px;
}

.fab {
  color: rgb(15, 63, 39);
}

input {
  box-shadow: 0 0 5px rgb(15, 63, 39);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(15, 63, 39);
}

.form-control,
.stateBtnClass,
.typeStateText,
.parksNear,
.spotify,
.byeFoot, 
#searchButton{
  animation-duration: 3s;
}

#mapid { height: 380px; }

#showModal {
    color: rgb(75, 56, 48);
    border-radius: 10px;
    border: 2px solid rgb(15, 63, 39);
}

.modal-header {
  color: rgb(15, 63, 39);
}

.btnModal {
  color: whitesmoke;
  background-color: rgb(75, 56, 48);
}

.modal-body {
  font-family: "npfont";
  src: url("./NationalPark-Outline.otf"); 
  color: rgb(15, 63, 39);
}

.modal p {
  font-family: "npfontthin";
}

.npfontThin {
  font-weight: bold;
}

#fillMe {
  display: none;
}

.form-control:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 5px rgb(15, 63, 39)
}

.card-body:hover {
  color: rgb(9, 129, 69);
}

#stateButton:hover {
  color: rgb(9, 129, 69);
}

.modal-title {
  font-size: 30px;
}

.btn:hover {
  background: rgb(15, 63, 39);
}

a:hover {
  color: rgb(75, 56, 48);
}

#stateCardImage {
  height: 150px;
  object-fit: scale-down;
}

#modalImage {
  max-height: 400px;
  object-fit: scale-down;
  
}

#modalMap {
  max-height: 200px;
  /* object-fit: scale-down; */
}

#npsInfo {
  margin-bottom: 5px;
}

.clickEnter {
  cursor: pointer;
}

footer {
  clear: both;
  font-size: 20px;
  color: #ffffff;
  color: rgb(15, 63, 39);
  background-color: whitesmoke;
  border-top: 4px solid rgb(75, 56, 48);
  margin-top: 115px;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0.8;
}

.modal a {
  color: rgb(75, 56, 48);
}

.modal h5 {
  font-size: 40px;
  border-bottom: 4px solid rgb(75, 56, 48);
}

.modal img {
  border-radius: 20px;
  border: 1px solid rgb(15, 63, 39);
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  #bg {max-width:none};

}

@media only screen and (max-width: 768px) {
  /* For phones */
  #bg {max-width:none}
}